<style>
		#worpit_description {
			margin-top: 20px;
		}
		#worpit_description h3 {
			margin-bottom: 10px;
		}
		#worpit_logo {
			margin: 17px 0 0 30px;
		}
		#worpit_logo a {
			border-color: #DDDDDD;
		}
		#worpit_logo img {
			margin: 8px 7px 6px;
		}
</style>
<div id="dashboard_widget_worpit">
	<div class="well row" style="height:250px;">
		<h3>iControlWP - The Most Advanced WordPress Management Control Panel</h3>
		<div class="col-6" id="worpit_description">
			<ul>
				<li><strong>Backup</strong>: <a href="https://bit.ly/H3tiAu" target="_blank">Automatic WordPress Backup And Recovery</a></li>
				<li>Free your time - manage all WordPress sites in ONE place</li>
				<li>1-Click Update Plugins, Themes and WordPress</li>
				<li>Clean and Optimise the WordPress database</li>
			</ul>
		</div>
		<div class="col-4" id="worpit_logo">
			<a class="btn" href="https://icwp.io/x" target="_blank">
				<img src="{{ imgs.icwp_logo_url }}" />
			</a>
		</div>
	</div>
</div>