<div class="page-header">
	<h2>
		<a id="pluginlogo_32" class="header-icon32" href="https://icwp.io/2k" target="_blank"></a>
		{{ strings.page_title }} :: Custom Content By Country (from <a href="https://icwp.io/3a" target="_blank">iControlWP</a>)
	</h2>
</div>