<style>
			#side_widgets .well h3 {
				text-shadow: 1px 1px 1px rgba(255, 255, 255, 1.0);
			}
			#side_widgets #side_widget_twitter {
				margin-bottom: 10px;
			}
			#side_widgets #side_widget_worpit {
				/*	background: url("resources/images/bright_squares.png") repeat transparent; */
			}
			#side_widgets #side_widget_worpit h3 {
				font-size: 15px;
			}
			#side_widgets #side_widget_worpit img#widget_worpit_link {
				position: relative;
				left: -10px;
				top: 8px;
			}
			#side_widgets #side_widget_like_plugin ul {
				margin-left: 20px;
			}
			#side_widgets #side_widget_like_plugin ul li {
				padding-bottom: 5px;
			}
			#side_widget_worpit h3 {
				margin-top: 10px;
				text-align: center;
			}
			#side_widgets .worpdrive-features {
				list-style: circle outside none;
				margin-top: 18px;
			}
			#side_widgets h3 small {
				color: #777777;
				font-size: 14px;
				line-height: 22px;
			}
		</style>
<div id="side_widgets">
	<div class="well" id="side_widget_worpit">
		<a href="https://icwp.io/4d" target="_blank">
			<img id="widget_worpit_link"
			     src="{{ imgs.worpdrive_logo_url }}"
			     width="200px" height="200px" />
		</a>
		<h3>WordPress Backup &raquo;
		<small><br />that just <u>always works</u> ..so you don't have to!</small></h3>
		<ul class="worpdrive-features">
			<li>Daily</li>
			<li>Automatic</li>
			<li>Free Test Restore Sites</li>
			<li><a href="https://icwp.io/4b" target="_blank">iControlWP included</a>!</li>
			<li>Unlimited Storage</li>
			<li>Change logs</li>
			<li>Secure FTP</li>
			<li>No PHP/Memory Errors</li>
			<li>Unlimited Site Sizes</li>
		</ul>
		<p style="text-align: center;"><a href="https://icwp.io/4c" target="_blank">more info &rarr;</a></p>
	</div>

</div>